

body{
    background-color:rgb(181, 231, 231);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color:rgb(16, 49, 141);
    text-align: center;
    padding: 4px;

}

p{
    padding: 4px;

}

img{

    width: 300px;
    display: block;
    margin: auto;
    
}